In [ ]:
def printme (qwe):
    print(qwe)
    return;

qwe = "wertyi"
printme(qwe)

def cust(inp):
    print(inp);
    return;

inp = input("enter string: ")
cust(inp)

In [2]:
def changeme(mylist):
    mylist.append([1,2,3,4])
    return

mylist = [10,20,30,40]
changeme(mylist)
print(mylist)

[10, 20, 30, 40, [1, 2, 3, 4]]

In [4]:
def changeme(mylist):
    mylist = ([1,2,3,4])
    print("inside",mylist)
    return

mylist = [10,20,30,40]
changeme(mylist)
print("outside",mylist)

inside [1, 2, 3, 4]
outside [10, 20, 30, 40]

In [ ]:
def printme(str):
    print(str);
    return;

printme()

In [5]:
def printme(str):
    print(str);
    return;

printme(str = "grah")

grah

In [6]:
def printinfo(name, age):
    print("NAME: ",name)
    print("AGE: ",age)
    return

printinfo(name = "misha",age = 45)

NAME:  misha
AGE:  45

In [9]:
def printinfo(name, age = 70):
    print("NAME: ",name)
    print("AGE: ",age)
    return

printinfo(name = "misha",age = 45)
printinfo(name = "mhykailo")

NAME:  misha
AGE:  45
NAME:  mhykailo
AGE:  70

In [17]:
def printinfo(arg1, *vartuple):
    print("output is: ")
    print(arg1)
    for var in vartuple:
        print(var)
        return;

printinfo(10);
printinfo(33,44,55)

output is:
10
output is:
33
44

In [19]:
total = 50
def sum(arg1,arg2):
    total = arg1 + arg2;
    print("inside the function total",total);
    return total;

sum(10,20);

print("outside the function",total)

inside the function total 30
outside the function 50

In [21]:
def swap(x,y):
    global a
    a = "lawal"
    x,y = y,x
    b = "chris"
    print(a,b,x,y)

swap("jesse","james")

lawal chris james jesse